#define _WIN32_IE 0x0500
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

1 VERSIONINFO
FILEVERSION 0, 8, 0, 0
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP {
	BLOCK "StringFileInfo" {
		BLOCK "040904E4" {
			VALUE "FileDescription", "SQLite Workflow Manager\000"
			VALUE "FileVersion", "0.8.0\000"
			VALUE "ProductName", "sqlite-wf\000"
			VALUE "ProductVersion", "0.8.0\000"
			VALUE "LegalCopyright", "Copyright \251 Little Brother 2020\000"
			VALUE "OriginalFilename", "sqlite-wf.exe\000"
		}
	}
	BLOCK "VarFileInfo" {
		VALUE "Translation", -1, -1
	}
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_WORKFLOW_ADDEDIT DIALOGEX 50, 50, 230, 220
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
	CAPTION "New workflow"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Name", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	EDITTEXT IDC_DLG_WORKFLOW_NAME, 40, 5, 185, 12, WS_BORDER | WS_TABSTOP

	LTEXT "Category", IDC_DLG_LABEL, 5, 24, 30, 14, SS_LEFT
	COMBOBOX  IDC_DLG_WORKFLOW_CATEGORY, 40, 22, 185, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_HASSTRINGS

	LTEXT "Description", IDC_DLG_LABEL, 5, 44, 100, 10, SS_LEFT
	CONTROL "",IDC_DLG_WORKFLOW_DESC, "RICHEDIT50W",
		WS_VISIBLE | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL,
		5, 56, 220, 55, WS_EX_STATICEDGE

	LTEXT "Execute on error", IDC_DLG_LABEL, 5, 120, 100, 10, SS_LEFT
	CONTROL "", IDC_DLG_WORKFLOW_ONERROR, "RICHEDIT50W",
		ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL,
		5, 132, 220, 55, WS_EX_STATICEDGE

	LTEXT "ID: ", IDC_DLG_LABEL, 5, 204, 10, 10, SS_LEFT
	EDITTEXT IDC_DLG_WORKFLOW_ID, 17, 204, 40, 14, WS_TABSTOP | ES_READONLY | NOT WS_BORDER

	PUSHBUTTON "OK", IDC_DLG_OK, 100, 201, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 165, 201, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_WORKFLOW_OPEN DIALOGEX 50, 50, 230, 200
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
	CAPTION "Open workflow"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Category", IDC_DLG_LABEL, 5, 6, 30, 14, SS_LEFT
	COMBOBOX  IDC_DLG_WORKFLOW_CATEGORY, 45, 5, 179, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
	CONTROL "", IDC_DLG_WORKFLOW_LIST, WC_LISTBOX, WS_TABSTOP | LBS_NOTIFY, 5, 25, 219, 155, WS_EX_STATICEDGE

	PUSHBUTTON "OK", IDC_DLG_OK, 100, 181, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 165, 181, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_WORKFLOW_NODE DIALOGEX 50, 50, 230, 200
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
	CAPTION "NODE"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Name", IDC_DLG_LABEL, 5, 7, 25, 14, SS_LEFT
	EDITTEXT IDC_DLG_NODE_NAME, 30, 5, 160, 12, WS_BORDER | WS_TABSTOP

	EDITTEXT IDC_DLG_NODE_ID, 195, 5, 30, 12, WS_TABSTOP | ES_READONLY | WS_BORDER | ES_CENTER

	LTEXT "", IDC_DLG_NODE_LABEL, 5, 25, 100, 10, SS_LEFT
	CONTROL "", IDC_DLG_NODE_SQL, "RICHEDIT50W",
		ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL | NOT WS_VISIBLE,
		5, 35, 220, 125, WS_EX_STATICEDGE

	CONTROL "", IDC_DLG_NODE_VARIF, WC_LISTVIEW,
		WS_TABSTOP | LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | NOT WS_VISIBLE,
		5, 35, 220, 125, WS_EX_STATICEDGE

	CONTROL "", IDC_DLG_NODE_SUB, WC_COMBOBOX,
		WS_TABSTOP | WS_VSCROLL | CBS_AUTOHSCROLL | CBS_HASSTRINGS | CBS_DROPDOWNLIST | NOT WS_VISIBLE,
		5, 35, 220, 100, 0

	LTEXT "Arguments", IDC_DLG_NODE_SUB_LABEL, 5, 55, 200, 14, SS_LEFT | NOT WS_VISIBLE
	CONTROL "", IDC_DLG_NODE_SUB_ARGS, "RICHEDIT50W",
		NOT WS_VISIBLE | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL,
		5, 65, 220, 75, WS_EX_STATICEDGE

	AUTOCHECKBOX "Run in parallel mode (not implemented yet)", IDC_DLG_NODE_SUB_MODE, 5, 145, 200, 16, NOT WS_VISIBLE | BS_NOTIFY | WS_DISABLED

	AUTOCHECKBOX "Stop workflow on error", IDC_DLG_NODE_ON_ERROR, 5, 160, 200, 16, BS_NOTIFY

	PUSHBUTTON "OK", IDC_DLG_OK, 100, 181, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 165, 181, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_WORKFLOW_RUN DIALOGEX 250, 20, 200, 140
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
	CAPTION "Run workflow"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Database", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	COMBOBOX  IDC_DLG_DBPATH, 40, 5, 135, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_HASSTRINGS
	PUSHBUTTON "...", IDC_DLG_OPEN_DB, 175, 5, 20, 13, WS_TABSTOP

	LTEXT "Argumens (as command line)", IDC_DLG_LABEL, 5, 30, 200, 14, SS_LEFT
	CONTROL "", IDC_DLG_ARGS, "RICHEDIT50W", ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL,
		5, 40, 190, 72, WS_EX_STATICEDGE

	PUSHBUTTON "Run", IDC_DLG_OK, 135, 120, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_JOURNAL DIALOGEX 50, 20, 500, 300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
	CAPTION "Journal"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Workflow", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	COMBOBOX  IDC_DLG_WORKFLOW_NAME, 40, 5, 150, 120, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT "Period", IDC_DLG_LABEL, 345, 8, 30, 14, SS_LEFT
	CONTROL "", IDC_DLG_STARTDATE, DATETIMEPICK_CLASS, WS_TABSTOP, 370, 5, 60, 14, 0
	CONTROL "", IDC_DLG_ENDDATE, DATETIMEPICK_CLASS, WS_TABSTOP, 435, 5, 60, 14, 0

	CONTROL "", IDC_DLG_JOURNAL, WC_LISTVIEW, WS_TABSTOP |  LVS_REPORT | LVS_SINGLESEL, 5, 25, 490, 270, WS_EX_STATICEDGE
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_JOURNAL_DETAILS DIALOGEX 50, 20, 400, 300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
	CAPTION "Details"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "", IDC_DLG_JOURNAL, WC_LISTVIEW, WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 0, 0, 400, 300, WS_EX_STATICEDGE
END

IDI_LOGO ICON "resources/logo.ico"
IDB_TOOLBAR BITMAP "resources/toolbar.bmp"
IDB_NODE_SQL BITMAP "resources/node_sql.bmp"
IDB_NODE_VAR BITMAP "resources/node_var.bmp"
IDB_NODE_IF BITMAP "resources/node_if.bmp"
IDB_NODE_SUB BITMAP "resources/node_sub.bmp"
